/* CSS declarations go here */

* {
	font-family: "effra", sans-serif;
}

#name {
	width: 80%;
	display: block;
	margin: 50px auto;
	color: #010101;
	height: 100px;
	border-radius: 5px;
	border: 0;
	background: rgba(14,104,112,.2);
	font-size: 70px;
	padding: 0 5%;
	border: 3px solid rgba(14,104,112,.5);
}

#name:focus {
	background: rgba(14,104,112,.3);
}

input#name_submit {
	width: 80%;
	display: block;
	height: 100px;
	margin: 0 auto;
}

.me {
	background: #eee;
}