/* line 66, my-icons/*.png */
.my-icons-sprite, .my-icons-downarrow, .my-icons-score, .my-icons-star, .my-icons-uparrow {
  background: url('/images/my-icons-s5120d65dc9.png') no-repeat;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-downarrow {
  background-position: 0 -163px;
  height: 11px;
  width: 10px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-score {
  background-position: 0 0;
  height: 150px;
  width: 350px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-star {
  background-position: 0 -150px;
  height: 13px;
  width: 14px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.my-icons-uparrow {
  background-position: 0 -174px;
  height: 11px;
  width: 10px;
}

/* CSS declarations go here */
/* line 6, ../sass/sprites.scss */
* {
  font-family: 'Helvetica', sans-serif;
}

/* line 10, ../sass/sprites.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/sprites.scss */
html {
  background: #222222;
  padding: 0;
  margin: 0;
  min-height: 100%;
  max-width: 100%;
}

/* line 23, ../sass/sprites.scss */
body {
  width: 100%;
  overflow-x: hidden;
  font: 12pt Helvetica, sans-serif;
}

/* line 35, ../sass/sprites.scss */
#song_submit {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  border: 1px solid #616261;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #7d7e7d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
  background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

/* line 49, ../sass/sprites.scss */
#song_submit:hover {
  border: 1px solid #4a4b4a;
  background-color: #646464;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(top, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to bottom, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}

/* line 60, ../sass/sprites.scss */
ul {
  border-radius: 3px;
  background: #fffdf9;
  padding: 0;
  margin: 0;
  border: 1px solid #e8e6e1;
}

/* line 68, ../sass/sprites.scss */
li {
  border-top: 1px solid #e8e6e1;
  width: 100%;
  padding: 0px 10px;
  line-height: 40px;
  height: 40px;
  margin: 0;
  font-size: 14px;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 84, ../sass/sprites.scss */
li.deleted {
  color: #ccc;
}

/* line 88, ../sass/sprites.scss */
li:nth-child(even) {
  background: #f6f3ee;
}

/* line 92, ../sass/sprites.scss */
.name {
  float: left;
}

/* line 96, ../sass/sprites.scss */
.votes {
  float: right;
  font-weight: bold;
}
